:root {
    --hex-FFFFFF-color: #FFFFFF;
    --hex-f3f4f6-color: #f3f4f6;
    --hex-FFFFFF-opacity-40-color: #FFFFFF40;
    --hex-81869A-color: #81869A;
    --hex-C0C2CB-color: #C0C2CB;
    --hex-C0C2CB-opacity-26-color: #C0C2CB26;
    --hex-D23939-color: #D23939; 
    --hex-1F1F27-color: #1F1F27;
    --hex-1F1F27-opacity-14-color: #1F1F2714;
    --hex-1F1F27-opacity-29-color: #1F1F2729;
    --hex-1F1F27-opacity-0D-color: #1F1F270D;
    --hex-31A0F0-color: #31A0F0;
    --hex-31A0F0-opacity-1A-color: #31A0F01A;
    --hex-31A0F0-opacity-26-color: #31A0F026;
    --hex-31A0F0-opacity-33-color: #31A0F033;
    --hex-1990E5-color: #1990E5;
    --hex-148ADF-color: #148ADF;

    --hex-121212-color: #121212;
    --hex-9aa0b0-color: #9aa0b0;
    --hex-7a7f8c-color: #7a7f8c;
    --hex-f44336-color: #f44336;
    --hex-e6e6e6-color: #e6e6e6;
    --hex-5ca8f5-color: #5ca8f5;

    --hex-EBEFF4-color: #EBEFF4;
    --hex-E4EBF3-color: #E4EBF3;

    --linear-gradient-bg: linear-gradient(129.57deg, #EBEFF4 0%, #E4EBF3 100%);
    --linear-gradient-bg-dark: linear-gradient(129.57deg, #2a2e3a 0%, #222833 100%);
}